.number-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 20px;
  width: 100%;
  margin-bottom: 400px;
}
.caption {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.result {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 20px;
  width: auto;
}
.button {
  position: relative;
  display: flex;
  justify-content: center;
  height: 20px;
  width: auto;
}